td.supportsTruncationWarning {
    position: relative;
}

table.truncationWarning {
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 10px;
    display: inline;
}

span.pageNav {
    cursor: pointer;
    color: blue;
}

span.pageNavDisabled {
    cursor: not-allowed;
}

span.label-with-tip {
    cursor: help;
    border-bottom: 1px dotted blue;
    font-weight: bold;
}

i.icon-question-circle-o {
    cursor: help;
}